:root {
  --navy-blue: #14213d;
  --soft-gray: #f3f3f3;
  --success-green: #2ec492;
  --white: #fff;
  --text-dark: #222;
  --text-light: #f7fafc;
  --accent: #ffba08;
  --font-main: 'Inter', sans-serif;
}
